In [ ]:
#Decision Tree

In [1]:
pwd

'/Users/daniellejenkins17/Documents/Flatiron/Banknote-Classification-Project'

In [34]:
import numpy as np 
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import tree
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt
from matplotlib import pyplot as plt
from sklearn import datasets
from sklearn.tree import DecisionTreeClassifier 
from sklearn import tree

In [2]:
#get the concepts down

#Go through KNN, Bayes, and model tuning lectures (pipelines too)
#do a decision tree, random forest, and KNN 

#watch youtube video on wavelet transform analysis (tonight)
#put the order of things AND notes into my EN (tonight)
#The order: train test split, baseline model, then modeling (tonight)

In [3]:
df = pd.read_csv('/Users/daniellejenkins17/Downloads/data_banknote_authentication.txt', delimiter =',')

In [4]:
import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        path = os.path.join(dirname, filename)

In [6]:
df.head()

    3.6216  8.6661  -2.8073  -0.44699  0
0  4.54590  8.1674  -2.4586  -1.46210  0
1  3.86600 -2.6383   1.9242   0.10645  0
2  3.45660  9.5228  -4.0112  -3.59440  0
3  0.32924 -4.4552   4.5718  -0.98880  0
4  4.36840  9.6718  -3.9606  -3.16250  0

In [7]:
df.isnull().sum()

3.6216      0
8.6661      0
-2.8073     0
-0.44699    0
0           0
dtype: int64

In [8]:
df.columns = ['Variance', 'Skewness', "Kurtosis", "Entropy", "Authentic_Fake"]
df

      Variance  Skewness  Kurtosis  Entropy  Authentic_Fake
0      4.54590   8.16740   -2.4586 -1.46210               0
1      3.86600  -2.63830    1.9242  0.10645               0
2      3.45660   9.52280   -4.0112 -3.59440               0
3      0.32924  -4.45520    4.5718 -0.98880               0
4      4.36840   9.67180   -3.9606 -3.16250               0
...        ...       ...       ...      ...             ...
1366   0.40614   1.34920   -1.4501 -0.55949               1
1367  -1.38870  -4.87730    6.4774  0.34179               1
1368  -3.75030 -13.45860   17.5932 -2.77710               1
1369  -3.56370  -8.38270   12.3930 -1.28230               1
1370  -2.54190  -0.65804    2.6842  1.19520               1

[1371 rows x 5 columns]

In [9]:
#removing target from df 

y = df['Authentic_Fake']
X = df.drop('Authentic_Fake', axis=1)

In [10]:
X

      Variance  Skewness  Kurtosis  Entropy
0      4.54590   8.16740   -2.4586 -1.46210
1      3.86600  -2.63830    1.9242  0.10645
2      3.45660   9.52280   -4.0112 -3.59440
3      0.32924  -4.45520    4.5718 -0.98880
4      4.36840   9.67180   -3.9606 -3.16250
...        ...       ...       ...      ...
1366   0.40614   1.34920   -1.4501 -0.55949
1367  -1.38870  -4.87730    6.4774  0.34179
1368  -3.75030 -13.45860   17.5932 -2.77710
1369  -3.56370  -8.38270   12.3930 -1.28230
1370  -2.54190  -0.65804    2.6842  1.19520

[1371 rows x 4 columns]

In [11]:
y

0       0
1       0
2       0
3       0
4       0
       ..
1366    1
1367    1
1368    1
1369    1
1370    1
Name: Authentic_Fake, Length: 1371, dtype: int64

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=87)

In [16]:
#fitting decision tree classifier

dt = tree.DecisionTreeClassifier()
model = dt.fit(X_train,y_train)

In [18]:
#predicting test data

predicted = model.predict(X_test)

In [20]:
score = accuracy_score(y_test,predicted)

In [21]:
print(score)

0.9766763848396501

In [ ]:
#iris = datasets.load_iris()
#X = iris.data
#y = iris.target

In [38]:
clf = DecisionTreeClassifier(random_state=87)
model = clf.fit(X, y)

In [39]:
#figure this out or do graphic viz pip install 

fig = plt.figure(figsize=(25,20))
_ = tree.plot_tree(clf, 
                   feature_names=df.feature_names,  
                   class_names=df.target_names,
                   filled=True)

AttributeError: 'DataFrame' object has no attribute 'feature_names'